.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  

  .home-icon {
    font-size: 22px;
    cursor: pointer;
  }
  
  .nav-item {
    position: relative;
    font-size: 16px;
    cursor: pointer;
    color: #004C97;
    font-weight: 500;
    transition: color 0.2s ease;
    text-decoration: none !important;
  }
  
  .nav-item:hover {
    color: #0072CE;
  }

  .nav-item-link:visited, .nav-item-link:focus, .nav-item-link:active, .nav-item-link:link{
    color: #004C97;
    text-decoration: none !important;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    border-radius: 6px;
    min-width: 160px;
    overflow: hidden;
    z-index: 100;
    
    padding-top: 5px; 
  }
  
  .nav-item:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-item {
    text-decoration: none; 
    color: #333; 
    display: block; 
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer; 
    transition: background-color 0.2s ease;
    margin-top: -5px; 
    text-decoration: none;
  }
  
  .dropdown-item:hover {
    background-color: #e6f0fa; 
    color: #0072CE;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }

  .navbar-right .signout-btn {
    background-color: #0072CE;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 0;
    flex-shrink: 0;
  }
  
  .navbar-right .signout-btn:hover {
    background-color: #005a9e;
  }